{% extends "base/base.html" %}

{% block title %}내 체크리스트{% endblock %}

{% block content %}
<main>
    <section class="main">
        <h1>내 체크리스트</h1>
        {% if checked_items %}
            <ul>
            {% for item in checked_items %}
                <li>✔️ {{ item }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>아직 체크한 항목이 없습니다.</p>
        {% endif %}
        <a href="{{ url_for('checklist.checklist') }}">체크리스트 수정하기</a>
    </section>
</main>
{% endblock %}
