{% extends "base/base.html" %}

{% block title %}기록{% endblock %}

{% block content %}
<section class="form-container2">
  <h1>{{ username }}님의 기록</h1>
  <a href="{{ url_for('index') }}">메인으로</a>
  <div class="t">
  <table border="1">
    <tr><th>시간</th><th>CVA 값</th><th>상태</th><th>사진</th></tr>
    {% for r in records %}
    <tr>
      <td>{{ r["created_at"] }}</td>
      <td>{{ r["cva_value"] }}°</td>
      <td>{{ r["status"] }}</td>
      <td><img src="{{ url_for('static', filename=r['image_path'].replace('static/', '')) }}" width="150" class="clickable-img" alt="CVA 이미지"></td>
    </tr>
    {% endfor %}
  </table>
</div>

</section>
<div id="imgModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg">
</div>
{% endblock %}


