{% extends "base/base.html" %}

{% block title %}하이라이트 영상{% endblock %}

{% block content %}
<section class="form-container2">
  <h1>{{ username }}님의 하이라이트 기록</h1>
  <div class="t">
    <table border="1">
      <tr><th>시간</th><th>영상</th></tr>
      {% for h in videos %}
      <tr>
        <td>{{ h['timestamp'] }}</td>
        <td>
          <video width="320" controls>
            <source src="{{ h['path'] }}" type="video/webm">
          </video>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
{% endblock %}
